<title>Nhật ký hoạt động</title>

<div class="slim-mainpanel">
    <div class="slim-pageheader">
        <ol></ol>
        <h3 style="font-weight: bold;" class="slim-pagetitle">Nhật ký</h3>
    </div><!-- slim-pageheader -->

    <div class="card card-table" style="margin-top: -10px;">
        <div class="card-header">
            <h4 class="slim-card-title">Nhật ký hoạt động</h4>
        </div><!-- card-header -->
        <div class="table-responsive">
            <table class="table mg-b-0 tx-12">
                <thead>
                    <tr class="tx-10">
                        <th class="wd-10p pd-y-5">&nbsp;</th>
                        <th class="pd-y-5">Người dùng</th>
                        <th class="pd-y-5">Trạng thái</th>
                        <th class="pd-y-5">Thời gian</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="pd-l-20">
                            <img src="http://via.placeholder.com/500x500" class="wd-36 rounded-circle" alt="Image">
                        </td>
                        <td>
                            <a class="tx-inverse tx-14 tx-medium d-block">{{ NAMEUser }}</a>
                            <span class="tx-11 d-block">ID: 1234567890</span>
                        </td>
                        <td class="tx-12">
                            <span class="square-8 bg-success mg-r-5 rounded-circle"></span> Đã xác minh
                        </td>
                        <td> Vài ngày trước</td>
                    </tr>

                    <tr>
                        <td class="pd-l-20">
                            <img src="http://via.placeholder.com/500x500" class="wd-36 rounded-circle" alt="Image">
                        </td>
                        <td>
                            <a class="tx-inverse tx-14 tx-medium d-block">{{ NAMEUser }}</a>
                            <span class="tx-11 d-block">ID: 1234567890</span>
                        </td>
                        <td class="tx-12">
                            <span class="square-8 bg-warning mg-r-5 rounded-circle"></span> Đang xác minh
                        </td>
                        <td> Vài ngày trước </td>
                    </tr>

                    <tr>
                        <td class="pd-l-20">
                            <img src="http://via.placeholder.com/500x500" class="wd-36 rounded-circle" alt="Image">
                        </td>
                        <td>
                            <a class="tx-inverse tx-14 tx-medium d-block">{{ NAMEUser }}</a>
                            <span class="tx-11 d-block">ID: 1234567890</span>
                        </td>
                        <td class="tx-12">
                            <span class="square-8 bg-success mg-r-5 rounded-circle"></span> Xác minh thành công
                        </td>
                        <td> Vài ngày trước </td>
                    </tr>

                    <tr>
                        <td class="pd-l-20">
                            <img src="http://via.placeholder.com/500x500" class="wd-36 rounded-circle" alt="Image">
                        </td>
                        <td>
                            <a class="tx-inverse tx-14 tx-medium d-block">{{ NAMEUser }}</a>
                            <span class="tx-11 d-block">ID: 1234567890</span>
                        </td>
                        <td class="tx-12">
                            <span class="square-8 bg-warning mg-r-5 rounded-circle"></span> Đang chỉnh sửa
                        </td>
                        <td> Vài ngày trước </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- table-responsive -->
    </div><!-- card -->
</div>