<form id="addUserForm" [formGroup]="editPhongHoc" >
    <div class="form-layout">
        <div class="row mg-b-25">

            <div class="col-lg-12">
                <div class="form-group">
                    <label class="form-control-label">Mã phòng học: <span class="tx-danger">*</span></label>
                    <input class="form-control" type="text" name="Maphonghoc" placeholder="Mã phòng học" ngModel>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <label class="form-control-label">Tên phòng học: <span class="tx-danger">*</span></label>
                    <input class="form-control" type="text" name="Tentailieu" placeholder="Tên phòng học" ngModel>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group mg-b-10-force">
                    <label class="form-control-label">Tình Trạng: </label>
                    <select class="form-control select2" name="IdTinhTrang" ngModel>
                        <option [value]=1> Đang Học </option>
                        <option [value]=2> Hoàn Thành </option>
                        <option [value]=3> Tạm Ngừng </option>
                        <option [value]=4> Chờ Xác Nhận</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="form-layout-footer">
            <button class="btn btn-primary bd-0" style="margin-right: 10px;" (click)="PostData(phongHoc.idPhongHoc)"> Thêm phòng học</button>
            <button class="btn btn-secondary bd-0" data-dismiss="modal">Hủy</button>
        </div><!-- form-layout-footer -->
    </div><!-- form-layout -->
</form>