<form id="addUserForm">
  <div class="form-layout">
    <div class="row mg-b-25">
      
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Mã tài liệu: <span class="tx-danger">*</span></label>
          <input class="form-control" type="text" name="Matailieu" placeholder="Mã tài liệu" ngModel>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Tên tài liệu: <span class="tx-danger">*</span></label>
          <input class="form-control" type="text" name="Tentailieu" placeholder="Tên tài liệu" ngModel>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Link tài liệu: <span class="tx-danger">*</span></label>
          <input class="form-control" type="text" name="Linktailieu" placeholder="Link tài liệu" ngModel>
        </div>
      </div>

    </div>

    <div class="form-layout-footer">
      <button class="btn btn-primary bd-0" style="margin-right: 10px;"> Thêm tài liệu</button>
      <button class="btn btn-secondary bd-0" data-dismiss="modal">Hủy</button>
    </div><!-- form-layout-footer -->
  </div><!-- form-layout -->
</form>