<title>Vào học</title>

<div class="modal fade" id="chiTietNhanDien" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  >
    <div class="modal-dialog" style="max-width:800px!important">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Chi Tiết Tình Hình Tham Gia Học Tập</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ngOnInit()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                <app-chi-tiet-user [chiTietUserBuoi]="strIntoObj"></app-chi-tiet-user>
            </div>
        </div>
    </div>
</div>

<div class="row mg-b-25 sidebar-nav-item" style="font-size: 16px; font-weight: bold; border-bottom: 1px solid #dee2e6; padding-bottom: 6px;"> 
    <div class="col-lg-3">
        <a>Mã Lớp Học: <span class="tx-danger">{{buoiHoc.maLopHoc}}</span></a>
    </div>
    <div class="col-lg-3">
        <a>Môn Học: <span class="tx-danger">{{buoiHoc.tenMonHoc}}</span></a>
    </div>
    <div class="col-lg-3">
        <a>Phòng Học: <span class="tx-danger">{{buoiHoc.tenPhongHoc}}</span></a>
    </div>
    <div class="col-lg-3">
        <a>Giáo Viên: <span class="tx-danger">{{buoiHoc.hoTen}}</span></a><br>
    </div>
</div>
<div class="row" >
    <div class="col-lg-2" style="float: left; text-align: center;" *ngFor="let user of DsContect| paginate:{
        itemsPerPage: tableSize,
        currentPage: page,
        totalItems: count
        }; let i=index;">
        <a href="#" class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
        data-backdrop="static" data-keyboard="false" (click)="chiTietNhanDienUser(user.nhanDien)"
         style="width: 88%; display: block;">
            <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
        </a>
      <h2>{{user.hoTen}}</h2>

      <p *ngIf="user.connect == 1">
        <a class="btn btn-primary" style="color: white;font-weight: 400;" role="button">
            {{user.tenCanhBao}}
        </a>
      </p>
      <p *ngIf="user.connect == 0">
        <a class="btn btn-secondary"  role="button">
            Chưa vào lớp
        </a>
      </p>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style=" display: flex; justify-content: center;">
            <div class="text-center">
                <a class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
                data-backdrop="static" data-keyboard="false">
                    <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
                </a>
                <h2>Học sinh 01</h2>
                <p>
                    <a class="btn btn-secondary" style="color:  white;">Chưa vào lớp</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style="display: flex; justify-content: center; align-items: center;">
            <div class="text-center">
                <a class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
                data-backdrop="static" data-keyboard="false">
                    <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
                </a>
                <h2>Học sinh 02</h2>
                <p>
                    <a class="btn btn-success" style="width: 119px; color: white;">Bình thường</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style="display: flex; justify-content: center; align-items: center;">
            <div class="text-center">
                <a class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
                data-backdrop="static" data-keyboard="false">
                    <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
                </a>
                <h2>Học sinh 03</h2>
                <p>
                    <a class="btn btn-success" style="color: white;width: 119px;">Bình thường</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style="display: flex; justify-content: center; align-items: center;">
            <div class="text-center">
                <a class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
                data-backdrop="static" data-keyboard="false">
                    <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
                </a>
                <h2>Học sinh 04</h2>
                <p>
                    <a class="btn btn-danger" style="color: white; width: 119px;">Vắng mặt</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style="display: flex; justify-content: center; align-items: center;">
            <div class="text-center">
                <a class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
                data-backdrop="static" data-keyboard="false">
                    <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
                </a>
                <h2>Học sinh 05</h2>
                <p>
                    <a class="btn btn-warning " style=" color: white; width: 119px;">Không chú ý</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style="display: flex; justify-content: center; align-items: center;">
            <div class="text-center">
                <a class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
                data-backdrop="static" data-keyboard="false">
                    <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
                </a>
                <h2>Học sinh 06</h2>
                <p>
                    <a class="btn btn-success" style="color: white; width: 119px;">Bình thường</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style="margin-top: 60px;
        margin-bottom: 60px; display: flex; justify-content: center; align-items: center;">
            <div class="text-center">
                <a class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
                data-backdrop="static" data-keyboard="false">
                    <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
                </a>
                <h2>Học sinh 07</h2>
                <p>
                    <a class="btn btn-success" style="color: white; width: 119px;">Bình thường</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style="display: flex; justify-content: center; align-items: center;">
            <div class="text-center">
                <a class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
                data-backdrop="static" data-keyboard="false">
                    <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
                </a>
                <h2>Học sinh 08</h2>
                <p>
                    <a class="btn btn-success" style="color: white; width: 119px;">Bình thường</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style="display: flex; justify-content: center; align-items: center;">
            <div class="text-center">
                <a class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
                data-backdrop="static" data-keyboard="false">
                    <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
                </a>
                <h2>Học sinh 09</h2>
                <p>
                    <a class="btn btn-success" style="color: white; width: 119px;">Bình thường</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style="display: flex; justify-content: center; align-items: center;">
            <div class="text-center">
                <a class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
                data-backdrop="static" data-keyboard="false">
                    <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
                </a>
                <h2>Học sinh 10</h2>
                <p>
                    <a class="btn btn-success" style="color: white; width: 119px;">Bình thường</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style="display: flex; justify-content: center; align-items: center;">
            <div class="text-center">
                <a class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
                data-backdrop="static" data-keyboard="false">
                    <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
                </a>
                <h2>Học sinh 11</h2>
                <p>
                    <a class="btn btn-danger" style="color: white; width: 119px;">Vắng mặt</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style="display: flex; justify-content: center; align-items: center;">
            <div class="text-center">
                <a class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
                data-backdrop="static" data-keyboard="false">
                    <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
                </a>
                <h2>Học sinh 12</h2>
                <p>
                    <a class="btn btn-success" style="color: white; width: 119px;">Bình thường</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style="display: flex; justify-content: center; align-items: center;">
            <div class="text-center">
                <a class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
                data-backdrop="static" data-keyboard="false">
                    <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
                </a>
                <h2>Học sinh 13</h2>
                <p>
                    <a class="btn" style="background-color: purple; color: white; width: 119px;">Ngủ gật</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style="display: flex; justify-content: center; align-items: center;">
            <div class="text-center">
                <a class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
                data-backdrop="static" data-keyboard="false">
                    <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
                </a>
                <h2>Học sinh 14</h2>
                <p>
                    <a class="btn" style="background-color: rgb(196, 116, 240) ; color: white; width: 119px;">Buồn ngủ</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style="display: flex; justify-content: center; align-items: center;">
            <div class="text-center">
                <a class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
                data-backdrop="static" data-keyboard="false">
                    <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
                </a>
                <h2>Học sinh 15</h2>
                <p>
                    <a class="btn btn-success" style="color: white; width: 119px;">Bình thường</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style="display: flex; justify-content: center; align-items: center;">
            <div class="text-center">
                <a class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
                data-backdrop="static" data-keyboard="false">
                    <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
                </a>
                <h2>Học sinh 16</h2>
                <p>
                    <a class="btn btn-success" style="color: white; width: 119px;">Bình thường</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style="display: flex; justify-content: center; align-items: center;">
            <div class="text-center">
                <a class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
                data-backdrop="static" data-keyboard="false">
                    <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
                </a>
                <h2>Học sinh 17</h2>
                <p>
                    <a class="btn btn-dark" style="color: white; width: 119px;">Vắng</a>
                </p>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style="display: flex; justify-content: center; align-items: center;">
            <div class="text-center">
                <a class="logged-user" data-toggle="modal" data-target="#chiTietNhanDien"
                data-backdrop="static" data-keyboard="false">
                    <img src="assets/img/sv2.png" alt="" style="width:80px; height:80px">
                </a>
                <h2>Học sinh 18</h2>
                <p>
                    <a class="btn btn-dark" style="color: white; width: 119px;">Vắng</a>
                </p>
            </div>
        </div>

    </div>
</div>
