<title>Login</title>

<div class="app-login">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="#">
                <img src="../../assets/img/logocochu.png" alt="LacHongUniversity">
                <div class="overlay-container">
                    <div class="overlay">
                        <div class="overlay-panel overlay-right">
                            <h1>ĐĂNG NHẬP</h1>
                            <input type="email" placeholder="Email" />
                            <input type="password" placeholder="Mật khẩu" />
                            <div class="forgot-password">
                                <a class="quenmk" routerLink="/forgot">Quên mật khẩu?</a>
                            </div>
                            <button class="btn-login" routerLink="/home/dashboard">Đăng nhập</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>>