<title>Login</title>

<div id="loading" class="loading">
    <img class="imgld" src="../../assets/img/SMARTCLASS_loading.png" alt="LacHongUniversity">
    <div class="loading-text">Đang tải...</div>
</div>

<div class="app-login">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <img src="../../assets/img/logocochu.png" alt="LacHongUniversity">
                <div class="overlay-container">
                    <div class="overlay">
                        <div class="overlay-panel overlay-right">
                            <div *ngIf="showAlert" class="alert"
                                [ngClass]="{'alert-success': loginSuccess, 'alert-danger': !loginSuccess}">
                                {{ loginMessage }}
                            </div>
                            <h1>ĐĂNG NHẬP</h1>
                            <input formControlName="username" type="email" placeholder="Tên người dùng" />
                            <input formControlName="password" type="password" placeholder="Mật khẩu" />
                            <div class="forgot-password">
                                <a class="quenmk" routerLink="/forgot">Quên mật khẩu?</a>
                            </div>
                            <button class="btn-login" type="submit">Đăng nhập</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>