<title>Edit profile</title>

<div class="slim-mainpanel">
  <div class="slim-pageheader">
    <ol></ol>
    <h3 style="font-weight: bold;" class="slim-pagetitle">Edit profile</h3>
  </div>

  <div class="card-contact" style="margin-top: -10px; border-radius: 4px;">
    <div class="card card-profile" style=" position: absolute;">
      <div class="card-body" style=" margin-right: 100px; padding-left: 120px;">
        <a href=""><img src="../../assets/img/sv2.png" alt=""></a>
        <h3 class="profile-name" style="font-weight: bold;">Phạm Gia Khiêm</h3>
        <p class="mg-b-20">Fullstack developer</p>
        <p class="profile-links">
          <a href="" class="tx-primary"><i class="fa fa-facebook-official"></i></a>
          <a href="" class="tx-info"><i class="fa fa-instagram"></i></a>
          <a href="" class="tx-danger"><i class="fa fa-pinterest"></i></a>
        </p>
      </div><!-- card-body -->
    </div>
    <div class="section-wrapper" style="border: none; margin-left: 400px;">
      <div class="form-layout">
        <div class="row mg-b-20">
          <div class="col-lg-12">
            <div class="form-group mg-b-20-force">
              <label class="form-control-label">Username: </label>
              <input class="form-control" placeholder="Administrator" readonly="" type="text">
            </div>
          </div><!-- col-4 -->
          <div class="col-lg-12">
            <div class="form-group mg-b-20-force">
              <label class="form-control-label">Họ tên: <span class="tx-danger">*</span></label>
              <input class="form-control" type="text" name="fullname" value="Phạm Gia Khiêm"
                placeholder="Enter lastname">
            </div>
          </div><!-- col-4 -->
          <div class="col-lg-12">
            <div class="form-group mg-b-20-force">
              <label class="form-control-label">Địa chỉ: <span class="tx-danger">*</span></label>
              <input class="form-control" type="text" name="address" value="khu phố 8 phường An Bình" 
                placeholder="Enter address">
            </div>
          </div><!-- col-4 -->
          <div class="col-lg-12">
            <div class="form-group mg-b-20-force">
              <label class="form-control-label">Email: <span class="tx-danger">*</span></label>
              <input class="form-control" type="text" name="email" value="phamgiakhiem@stardev.com"
                placeholder="Enter email">
            </div>
          </div><!-- col-8 -->
          <div class="col-lg-12">
            <div class="form-group mg-b-20-force">
              <label class="form-control-label">Điện thoại: <span class="tx-danger">*</span></label>
              <input class="form-control" type="interger" name="phonenumber" value="0331236542"
                placeholder="Enter phone number">
            </div>
          </div><!-- col-4 -->
          <div class="col-lg-12">
            <div class="form-group mg-b-20-force">
              <label class="form-control-label">Giới tính: <span class="tx-danger">*</span></label>
              <select class="form-control select2" data-placeholder="chọn giới tính">
                <option label="Chọn giới tính"></option>
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
                <option value="Khác">Khác</option>
              </select>
            </div>
          </div><!-- col-4 -->
        </div><!-- row -->

        <div class="form-layout-footer">
          <button class="btn btn-primary bd-0" style="margin-right: 10px;">OK</button>
          <button class="btn btn-secondary bd-0">Hủy</button>
        </div><!-- form-layout-footer -->
      </div>
    </div>
  </div>
</div>