<title>Cài đặt</title>

<div class="slim-mainpanel">
    <div class="slim-pageheader">
        <ol></ol>
        <h3 style="font-weight: bold;" class="slim-pagetitle">Cài đặt</h3>
    </div><!-- slim-pageheader -->


    <div class="card card-table" style="margin-top: -10px;">
        <div class="card-header">
            <h4 class="slim-card-title" style="font-weight: bold;">Phân quyền User</h4>
        </div><!-- card-header -->
        <div class="table-responsive">
            <table class="table mg-b-0 tx-14">
                <thead>
                    <tr class="tx-12">
                        <th class="wd-10p pd-y-5" >TT</th>
                        <th class="pd-y-5">User</th>
                        <th class="pd-y-5">Trạng thái</th>
                        <th class="pd-y-5" style="text-align: center">Quyền</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="pd-l-20">1</td>
                        <td>
                            <a class="tx-inverse tx-14 tx-medium d-block">Giảng viên</a>
                        </td>
                        <td class="pd-l-20" > <span class="square-8 bg-success mg-r-5 rounded-circle"></span> Hoạt động</td>
                        <td class="submenu">
                            <ul class="nav nav-sidebar">
                                <li class="sidebar-nav-item with-sub">
                                    <a class="sidebar-nav-link">Quyền của user</a>
                                    <ul class="nav sidebar-nav-sub">
                                        <li class="nav-sub-item"><a class="nav-sub-link">Quản lý người dùng
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Lớp học
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Môn học
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Quản lý lớp
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Quản lý tài liệu
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Chỉnh sửa thông tin
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Activity log
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Cài đặt
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td class="pd-l-20">2</td>
                        <td>
                            <a class="tx-inverse tx-14 tx-medium d-block">Học sinh</a>
                        </td>
                        <td class="pd-l-20"> <span class="square-8 bg-success mg-r-5 rounded-circle"></span> Hoạt động</td>
                        <td class="submenu">
                            <ul class="nav nav-sidebar">
                                <li class="sidebar-nav-item with-sub">
                                    <a class="sidebar-nav-link">Quyền của user</a>
                                    <ul class="nav sidebar-nav-sub">
                                        <li class="nav-sub-item"><a class="nav-sub-link">Quản lý người dùng
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Lớp học
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Môn học
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Quản lý lớp
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Quản lý tài liệu
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Chỉnh sửa thông tin
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Activity log
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Cài đặt
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td class="pd-l-20">3</td>
                        <td>
                            <a class="tx-inverse tx-14 tx-medium d-block">Phụ huynh</a>
                        </td>
                        <td class="pd-l-20"> <span class="square-8 bg-success mg-r-5 rounded-circle"></span> Hoạt động</td>
                        <td class="submenu">
                            <ul class="nav nav-sidebar">
                                <li class="sidebar-nav-item with-sub">
                                    <a class="sidebar-nav-link">Quyền của user</a>
                                    <ul class="nav sidebar-nav-sub">
                                        <li class="nav-sub-item"><a class="nav-sub-link">Quản lý người dùng
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Lớp học
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Môn học
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Quản lý lớp
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Quản lý tài liệu
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Chỉnh sửa thông tin
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Activity log
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link">Cài đặt
                                            <div class="toggle-wrapper">
                                                <div class="toggle toggle-modern info" style="height: 26px; width: 60px;">
                                                    <div class="toggle-slide">
                                                        <div class="toggle-inner" style="width: 94px; margin-left: 0px;"></div>
                                                        <div class="toggle-off active" style="height: 26px; width: 66px; text-indent: 8.66667px; line-height: 26px;">OFF</div>
                                                        <div class="toggle-on" style="height: 26px; width: 50px; text-indent: -8.66667px; line-height: 26px;">ON</div>
                                                        <div class="toggle-blob" style="height: 26px; width: 26px; margin-left: -18px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div><!-- table-responsive -->
    </div><!-- card -->

</div>