<title>Forgot</title>

<div class="app-forgot">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form routerLink="/login">
                <img src="../../assets/img/logocochu.png" alt="LacHongUniversity">
                <div class="overlay-container">
                    <div class="overlay">
                        <div class="overlay-panel overlay-right">
                            <h1 style="font-weight: bold;">QUÊN MẬT KHẨU</h1>
                            <input type="type-email" placeholder="Nhập email của bạn" />
                            <input type="new-password" placeholder="Mật khẩu mới" />
                            <input type="confirm-new-password" placeholder="Nhập lại mật khẩu mới" />
                            <button class="btn-forgot">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>>