<title>Administrator</title>
<div class="row">
    <div class="col-lg-2">
        <a type="button" class="btn btn-primary active" style=" float: left;" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
            <i class="icon ion-person-add"></i> | Thêm người dùng
        </a>
    </div>
    <div class="col-lg-10">
        <div class="row">
            <!-- <div class="col-lg-1">                
                <div class="form-group mg-b-10-force">
                    <select class="form-control select2" (change)="onTableSizeChange($event)">
                        <option *ngFor="let size of tableSizes">{{size}}</option>
                    </select>
                </div>
            </div> -->
            <div class="col-lg-2">                
                <div class="form-group mg-b-10-force">
                    <select class="form-control select2" #loaiUserchange (change)="locLoaiUser(loaiUserchange.value)">
                        <option label="Tất cả tài khoản" [value]="0" ></option>
                        <option [value]="1" [selected]="user.loaiUser == 1">Quản trị </option>
                        <option [value]="2" [selected]="user.loaiUser == 2">Giáo viên </option>
                        <option [value]="3" [selected]="user.loaiUser == 3">Học sinh </option>
                        <option [value]="4" [selected]="user.loaiUser == 4">Phụ huynh </option>
                        <!-- <option [value]="5" [selected]="user.loaiUser == 5">Disable </option> -->
                    </select>
                </div>
            </div><!-- col-3 -->   
            <div class="col-lg-5">                
                <div class="form-group mg-b-10-force">
                    <input class="form-control" type="text" name="search" [(ngModel)]="search" (ngModelChange)="Search()"
                     placeholder="Nhập Họ Tên để tìm kiếm"/>
                </div>
            </div>  <!-- col-5    -->
        </div> <!-- row--> 
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  >
        <div class="modal-dialog" style="max-width:800px!important">
            <div class="modal-content" style="border-radius: 6px;">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Thêm Tài Khoản</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ngOnInit()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body" >
                    <app-add-user [DSUser]="DSUser" [dsLopHoc]="DsLopHoc"></app-add-user>                    
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width:800px!important">
        <div class="modal-content" style="border-radius: 6px;">
                <div class="modal-header">
                    <h3 style="font-weight: bold;" class="modal-title" id="exampleModalLabel">Chỉnh sửa Tài Khoản</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ngOnInit()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>            
                <div class="modal-body">
                    <!-- <app-edit-add-lop-hoc [lopHoc]="lopHoc" *ngIf="dangThemSua"></app-edit-add-lop-hoc> truyền lopHoc qua component app-edit-add-lop-hoc -->
                    <!-- <app-edit-add-lop-hoc [lopHoc]="lopHoc" *ngIf="dangThemSua" ></app-edit-add-lop-hoc>  -->
                    <app-edit-user [chiTietUser]="user" [dsUser]="DSUser" [dsLopHoc]="DsLopHoc" ></app-edit-user>                
                </div>
            </div>
        </div>
    </div>
    
    <table class="table table-striped">
        <thead>
            <th>TT</th>
            <th>Username</th>
            <th>Password</th>
            <th>Họ Tên</th>
            <th>Địa Chỉ</th>
            <th>Email</th>
            <th>Điện Thoại</th>
            <th>Loại User</th>
            <th>Mã lớp </th>
            <th>Tùy Chọn</th>        
        </thead>
        <tbody>
            <tr *ngFor="let user of DSUser| paginate:{
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
                }; let i=index;">
                <td>{{ i+1 }}</td>
                <td>{{user.userName}}</td>
                <td>{{user.passWord}}</td>
                <td>{{user.hoTen}}</td>
                <td>{{user.diaChi}}</td>
                <td>{{user.email}}</td>
                <td>{{user.dienThoai}}</td>
                <td>{{user.tenLoai}}</td>
                <td>{{user.maLopHoc}}</td>
                <td>
                    <button  class="btn-primary btn"  href="#" (click)="chiTietUser(user)" data-toggle="modal" data-target="#editUser" data-backdrop="static" data-keyboard="false"><i class="icon ion-edit "></i> Edit
                    </button> &nbsp;
                    <button  class="btn-danger btn" (click)="xoaUser(user.idUser, user.hoTen)"><i class="icon ion-close"></i> Delete </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row"> <!-- Phân trang-->
        <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
    </div>
</div>
