<title>Tài liệu</title>

<div class="row">
    <div class="col-lg-2">
        <a type="button" class="btn btn-primary active" style="float: left;" data-toggle="modal"
            data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
            <i class="fa fa-plus"></i> | Thêm phòng học
        </a>

    </div>

    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-5">
                <div class="form-group mg-b-10-force">
                    <input class="form-control" placeholder="Nhập tên phòng học để tìm kiếm" />
                </div>
            </div>
        </div>
    </div>

    <!-- Sự kiện xử lý button thêm -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width:500px!important">
            <div class="modal-content" style="border-radius: 6px;">
                <div class="modal-header">
                    <div class="col-lg-10">
                        <h3 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Thêm phòng học</h3>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            (click)="ngOnInit()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <div class="modal-body">
                    <app-add-phong-hoc [dsPhongHoc]="DsPhongHoc"></app-add-phong-hoc>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <th>TT</th>
            <th>Mã phòng học</th>
            <th>Tên phòng học</th>
            <th>Tình trạng</th>
            <th>Tùy chọn</th>
        </thead>
        <tbody>
            <tr *ngFor="let phongHoc of DsPhongHoc| paginate:{
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
                }; let i=index;">
                <td>{{ i+1}}</td>
                <td>{{ phongHoc.maPhongHoc}}</td>
                <td>{{ phongHoc.tenPhongHoc}}</td>
                <td>{{ phongHoc.tinhtrangPhongHoc}}</td>          
                <td>
                    <button  class="btn-primary btn" (click)="editPhongHoc(phongHoc)"><i class="icon ion-edit "> </i> Edit  </button>   &nbsp;&nbsp;&nbsp;
                    <button  class="btn-danger btn" (click)="deletePhongHoc(phongHoc.idPhongHoc, phongHoc.tenPhongHoc)" ><i class="icon ion-close "> </i> Delete  </button> 
                    
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row"> <!-- Phân trang-->
        <pagination-controls 
        previousLabel="Prev" 
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)">
        </pagination-controls>
    </div>
</div>