<title>Quản lý phòng học</title>
<div class="row">
    <div class="col-lg-2">
        <a type="button" class="btn btn-primary active" style="float: left;" data-toggle="modal"
            data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
            <i class="fa fa-plus"></i> | Thêm phòng học
        </a>

    </div>

    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-5">
                <div class="form-group mg-b-10-force">
                    <input class="form-control" placeholder="Nhập tên phòng học để tìm kiếm" 
                    [(ngModel)]="search" (ngModelChange)="Search()"/>
                </div>
            </div>
        </div>
    </div>

    <!-- Sự kiện xử lý button thêm -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width:500px!important">
            <div class="modal-content" style="border-radius: 6px;">
                <div class="modal-header">
                    <div class="col-lg-10">
                        <h3 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Thêm phòng học</h3>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" 
                        (click)="ngOnInit()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <app-add-phong-hoc></app-add-phong-hoc>
                </div>
            </div>
        </div>
    </div>
    <!-- Sự kiện xử lý button thêm -->

    <!-- Sự kiện xử lý button chỉnh sửa -->
    <div class="modal fade" id="editphong" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width:800px!important">
        <div class="modal-content" style="border-radius: 6px;">
                <div class="modal-header">
                    <h3 style="font-weight: bold;" class="modal-title" id="exampleModalLabel">Chỉnh sửa Phòng Học</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ngOnInit()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>            
                <div class="modal-body">                       
                    <app-edit-phong-hoc [chiTietPhong]="phong" ></app-edit-phong-hoc>            
                </div>
            </div>
        </div>
    </div>
    <!-- Sự kiện xử lý button chỉnh sửa -->
    <table class="table table-striped">
        <thead>
            <th>TT</th>
            <th>Mã phòng học</th>
            <th>Tên phòng học</th>
            <th>Mô tả</th>
            <th>Tình trạng</th>
            <th>Tùy chọn</th>
        </thead>
        <tbody>
            <tr *ngFor="let phongHoc of DsPhongHoc| paginate:{
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
                }; let i=index;">
                <td>{{ i+1}}</td>
                <td>{{ phongHoc.maPhongHoc }}</td>
                <td>{{ phongHoc.tenPhongHoc }}</td>
                <td>{{ phongHoc.moTa }}</td>
                <td>{{ phongHoc.tinhTrang }}</td>
                <td>
                    <button  class="btn-primary btn" (click)="chiTietPhong(phong)"><i class="icon ion-edit "> </i> Edit  </button> &nbsp;
                    <button  class="btn-danger btn" (click)="xoaPhongHoc(phongHoc.idPhongHoc, phongHoc.tenPhongHoc)" ><i class="icon ion-close "> </i> Delete  </button> 
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row"> <!-- Phân trang-->
        <pagination-controls 
        previousLabel="Prev" 
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)">
        </pagination-controls>
    </div>
</div>