<title>Tài liệu</title>

<div class="row">
    <div class="col-lg-2">
        <a type="button" class="btn btn-primary active" style="float: left;" data-toggle="modal"
            data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
            <i class="icon ion-folder"></i> | Thêm tài liệu
        </a>

    </div>

    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-5">
                <div class="form-group mg-b-10-force">
                    <input class="form-control" placeholder="Nhập tên tài liệu để tìm kiếm" />
                </div>
            </div>
        </div>
    </div>

    <!-- Sự kiện xử lý button thêm -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width:500px!important">
            <div class="modal-content" style="border-radius: 6px;">
                <div class="modal-header">
                    <div class="col-lg-10">
                        <h3 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Thêm Tài Liệu</h3>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            (click)="ngOnInit()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <div class="modal-body">
                    <app-add-link-tailieu> 
                        
                    </app-add-link-tailieu>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <th>TT</th>
            <th>Mã tài liệu</th>
            <th>Tên tài liệu</th>
            <th>Link tài liệu</th>
        </thead>
        <tbody>

        </tbody>
    </table>

    <div class="row"> <!-- Phân trang-->
        <pagination-controls previousLabel="Prev" nextLabel="Next">
        </pagination-controls>
    </div>
</div>