<title>Đổi mật khẩu</title>

<div class="slim-mainpanel">
    <div class="slim-pageheader">
        <ol></ol>
        <h3 style="font-weight: bold;" class="slim-pagetitle">Đổi mật khẩu</h3>
    </div>

    <div class="card-contact" style="margin-top: -10px; border-radius: 4px;">
        <div class="section-wrapper" style="border: none; margin-left: 400px; margin-right: 400px;">
            <h1 style=" font-weight: bold; text-align: center;">Đổi mật khẩu</h1>
            <div class="form-layout">
                <div class="row mg-b-20">
                    <div class="col-lg-12">
                        <div class="form-group mg-b-20-force">
                            <label class="form-control-label">Username: </label>
                            <input class="form-control" placeholder="Administrator" readonly="" type="text" style="height: 50px;">
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-12">
                        <div class="form-group mg-b-20-force">
                            <label class="form-control-label">Điền mật khẩu cũ: <span class="tx-danger">*</span></label>
                            <input class="form-control" type="text" name="password old" style="height: 50px;">
                        </div>
                    </div><!-- col-4 -->

                    <div class="col-lg-12">
                        <div class="form-group mg-b-20-force">
                            <label class="form-control-label">Điền mật khẩu mới: <span
                                    class="tx-danger">*</span></label>
                            <input class="form-control" type="text" name="password new" style="height: 50px;">
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group mg-b-20-force">
                            <label class="form-control-label">Điền lại mật khẩu mới: <span class="tx-danger">*</span></label>
                            <input class="form-control" type="text" name="password old" style="height: 50px;">
                        </div>
                    </div>
                </div><!-- row -->

                <div class="form-layout-footer" style="text-align: center;">
                    <button class="btn btn-primary bd-0" style="margin-right: 10px;">Xác nhận</button>
                    <button class="btn btn-secondary bd-0">Hủy</button>
                </div><!-- form-layout-footer -->
            </div>
        </div>
    </div>
</div>